* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --theme-text-color: rgba(143, 142, 142, 0.6);
    --theme-button-border-radius: 12px;
    --theme-box-shadow: 4px 3px 15px 1px #e2e8f0;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    column-gap: 35px;
    margin-bottom: 40px;
}

/* || navigation sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--theme-box-shadow);
}

/* ***************
sidebar logo
**************** */
.sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 160px;
}

.logo img{
    display: flex;
    height: 30px;
    width: 160px;
}

/* ***************
navigation items
**************** */
.navigation {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.navigation div {
    cursor: pointer;
    color: var(--theme-text-color);
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;
    width: 160px;
    height: 40px;
    gap: 1em;
}

.navigation div:hover {
    color: rgb(0, 0, 196);
    background-color: rgba(193, 193, 193, 0.1);
    border-radius: var(--theme-button-border-radius);
}

/* ***************
sidebar bottom part
**************** */
.sidebar-bottom {
    display: flex;
    gap: 20px;
}

.chat-box {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb( 250, 230, 250);
    border-radius: 90px;
    padding: 12px;
}

.settings {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 9px;
    background-color: rgba(166, 163, 163, 0.1);
    border-radius: var(--theme-button-border-radius);
    padding: 12px;
}

/* || content container */
.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    height: 100vh;
    gap: 15px;
    padding: 30px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 15px;
}

/* ***************
search bar
**************** */
.search-bar {
    display: flex;
    gap: 1em;
}

.search-bar #search {
    border: none;
}

.search-bar #search:focus {
    outline: none;
    border-bottom: 1px solid black;
}
/* ***************
text under search bar
**************** */

.divider {
    border-bottom: 1px solid black;
    width: 100%;
    height: 10px;
}

.greeting-message {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

/* ***************
projects section
**************** */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill,minmax(fit-content,1fr));
    gap: 15px;
    height: 100%;
    width: 100%;
}

.project-item {
    border-radius: var(--theme-button-border-radius);
    background-color: #94a3b8;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4fr 1fr;
    color: white;
}

/* ***************
project-items
**************** */
.project-item .icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 10px;
}

.project-item .title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.project-item .actions {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    background-color: #64748b;
    padding-top: 15px;
    border-radius: var(--theme-button-border-radius);
}

.project-item * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions * {
    cursor: pointer;
}
/*  || booklist and other information section */
.booklist {
    border: 1px solid black;
}
